{% extends 'base.html' %}

{% block title %}Химический справочник{% endblock %}

{% block content %}
    <h1>Химический справочник</h1>

    <form action="/element-by/number" method="post">
        <label for="number">Номер: </label>
        <input id="number" name="number" type="number" min="1" max="118" required value="1"/>
        <input type="submit" value="Открыть"/>
    </form>

    <form action="/element-by/label" method="post">
        <label for="label">Символ: </label>
        <input id="label" name="label" type="text" maxlength="2" required/>
        <input type="submit" value="Открыть"/>
    </form>

    <form action="/element-by/name" method="post">
        <label for="name">Название: </label>
        <input id="name" name="name" type="text" required/>
        <input type="submit" value="Открыть"/>
    </form>

    <form action="/element-by/position" method="post">
        <label>Расположение:
            <input name="position_period" type="number" min="1" max="7" required value="1"/>
            <input name="position_group" type="number" min="1" max="8" required value="1"/>
            <select name="position_subgroup" required>
                <option value="A">A</option>
                <option value="B">B</option>
            </select>
        </label>
        <input type="submit" value="Открыть"/>
    </form>

    <datalist id="subgroup_list">
        <option value="A"></option>
        <option value="B"></option>
    </datalist>

{% endblock %}